body {
    background-color: rgb(31, 31, 31);
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: gray;
}

.indent {
    text-indent: 40px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(29, 0, 0);
    position: absolute;
    bottom: -30px;
    right: -30px;
}